.modal-title {
  bottom: 60px;
  position: absolute;
  right: 60px;
  text-transform: lowercase;
  z-index: 3;
}
.modal-content {
  height: calc(100% - 70px);
  position: absolute;
  top: 70px;
  width: var(--modal-content-width);
  z-index: 2;
}
.modal-content::before, 
.modal-content::after {
  content: none;
}
.modal-close-button {
  background: none;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 10px 0;
  position: absolute;
  right: 60px;
  top: 70px;
  transition: opacity 0.2s ease;
  z-index: 3;
}
.modal-close-button:hover {
  opacity: 0.5;
}