.projects-modal-close-button {
  background: none;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 10px 0;
  position: absolute;
  right: 60px;
  top: 70px;
  transition: opacity 0.2s ease;
  z-index: 3;
}
.projects-modal-close-button:hover {
  opacity: 0.5;
}
.project-details-item {
  user-select: none;
}
.project-details-item.active {
  opacity: 1;
  user-select: auto;
  z-index: 2;
}
.project-tab-link {
  opacity: 0;
}
.project-tab-link.active {
  opacity: 1 !important;
}
.project-pane.active {
  opacity: 1;
  z-index: 2;
}
.project-video {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  transition: opacity 0.2s ease;
  width: 100%;
}
.scroll-text {
  animation: float 1s ease-in-out infinite;
}
.scroll-button:hover .scroll-text {
  animation: none;
}
.scroll-button:hover .letter {
  background: linear-gradient(
    90deg,
    var(--red) 20%,
    var(--orange) 40%,
    var(--yellow) 60%,
    var(--blue) 80%,
    var(--green) 100%
  );
  background-size: 500%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: wave 1.5s ease infinite, gradient 1s ease infinite;
}
.scroll-button:hover .letter {
  animation-delay: var(--delay);
}
