.project-tab {
  opacity: 0;
}
.project-tab.active {
  opacity: 1 !important;
}
.project-pane.active {
  opacity: 1;
  z-index: 2;
}
.project-video {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  transition: opacity 0.2s ease;
  width: 100%;
}
.projects-details-item.active {
  display: block;
}
.scroll-text {
  animation: float 1s ease-in-out infinite;
}
.scroll-button:hover .scroll-text {
  animation: none;
}
.scroll-button:hover .letter,
.mouse-hover-text .letter {
  background: linear-gradient(
    90deg,
    rgba(229, 65, 36, 1) 20%,
    rgba(219, 134, 39, 1) 40%,
    rgba(248, 238, 98, 1) 60%,
    rgba(0, 170, 194, 1) 80%,
    rgba(1, 174, 77, 1) 100%
  );
  background-size: 500%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: wave 1.5s ease infinite, gradient 1s ease infinite;
}
.scroll-button:hover .letter,
.mouse-hover-text .letter {
  animation-delay: var(--delay);
}