/* Animations */
@keyframes scroll {
  from { transform: translateX(100vw); }
  to { transform: translateX(-150vw); }
}
@keyframes expand {
  from { width: 0; }
  to { width: 100%; }
}
/* Helpers */
.c-black {
  color: #0c0c0c !important;
}
/* Global */
.scroll-snap-wrapper {
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.word {
  display: inline-block; /* This allows the y animation to apply */
  opacity: 0;
}
/* Projects Section */
.progress-bar--active {
  animation: expand 8s linear;
}  
/* About Section */
.slideshow-item {
    animation: scroll 40s linear forwards;
}
/* Correct height issue on iOS for elements with 100vh */
@supports (-webkit-touch-callout: none) {
  .scroll-snap-wrapper {
    height: 100dvh;
  }
  .section {
    height: 100dvh;
  }
}
/* About Section */
.about-text::selection, 
.about-text *::selection {
  background-color: #f7d6e0; /* Background color when text is highlighted */
  color: #fe1a20; /* Text color when highlighted */
}
