.section.about {
  position: relative;
  z-index: 9;
}
.about-content::before {
  background-color: var(--white);
  content: '';
  filter: blur(60px);
  height: calc(100% + 20px);
  left: -10px;
  opacity: 0;
  position: absolute;
  top: -10px;
  transform: scale(0);
  transition: opacity 1.5s ease, transform 1.5s ease;
  width: calc(100% + 20px);
  z-index: 2;
}
.about.loaded .about-content::before {
  opacity: 1;
  transform: scale(1);
}
.about-text {
  position: relative;
  z-index: 3;
}
.about-text::selection,
.about-text *::selection {
  background-color: var(--red);
  color: var(--white);
}