.about-content::before {
  background-color: var(--white);
  content: '';
  filter: blur(60px);
  height: calc(100% + 20px);
  left: -10px;
  position: absolute;
  top: -10px;
  width: calc(100% + 20px);
  z-index: 2;
}
.about-text {
  position: relative;
  z-index: 3;
}
.about-text::selection,
.about-text *::selection {
  background-color: var(--red);
  color: var(--white);
}