.contact {
  transition: opacity 0.3s ease-in;
}
.contact.active {
  opacity: 1;
  pointer-events: auto;
}
.contact-close {
  position: absolute;
  right: 60px;
  top: 40px;
}
.contact-close-button {
  background: none;
  padding: 0;
  transition: opacity 0.2s ease;
}
.contact-close-button:hover {
  opacity: 0.5;
}