.gallery-item {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  position: absolute;
  top: 0;
  width: 100%;
}
.gallery-image-wrapper {
  aspect-ratio: 16/9;
  height: calc(100vh - 130px);
  width: auto;
}
.gallery-image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.gallery-nav {
  align-items: center;
  background: none;
  display: none;
  height: 50px;
  justify-content: center;
  padding: 0;
  position: absolute;
  top: calc(50% - 25px);
  transition: opacity 0.2s ease;
  width: 40px;
  z-index: 3;
}
.gallery-nav.active {
  display: flex;
}
.gallery-nav:hover {
  opacity: 0.5;
}
.gallery-nav.prev {
  left: 0;
}
.gallery-nav.next {
  right: 0;
}