.modal-title {
  font-size: 25px;
  position: absolute;
  left: 20px;
  text-transform: lowercase;
  top: 40px;
  z-index: 3;
}
.modal-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 70px);
  justify-content: center;
  position: absolute;
  top: 70px;
  width: var(--modal-content-width);
  z-index: 2;
}
.modal-content::before, 
.modal-content::after {
  content: none;
}
.modal-close {
  position: absolute;
  right: 20px;
  top: 70px;
  transition: opacity 0.2s ease;
  z-index: 9;
}
.no-touch .modal-close:hover {
  opacity: 0.5;
}
@media (min-width: 480px) {
  .modal-title {
    left: 40px;
  }
  .modal-close {
    right: 40px;
  }
}
@media (min-width: 992px) {
  .modal-title {
    font-size: 32px;
    top: 45px;
  }
}
@supports (-webkit-touch-callout: none) {
  .modal-content {
    height: calc(100dvh - 70px);
  }
}