.navbar.black .nav-link {
  color: var(--black);
}
.navbar.black .logo-text {
  fill: var(--black);
}
.nav-link {
  transition: color 0.3s ease, opacity 0.2s ease;
}
.logo-svg svg {
  display: block;
  height: 100%;
  object-fit: contain;
  width: 100%;
}
.logo:hover g {
  animation: logo 2s ease infinite;
}
.logo:hover .logo-letter-1 {
  animation-delay: 0s;
}
.logo:hover .logo-letter-2 {
  animation-delay: 0.05s;
}
.logo:hover .logo-letter-3 {
  animation-delay: 0.1s;
}
.logo:hover .logo-letter-4 {
  animation-delay: 0.15s;
}
.logo:hover .logo-letter-5 {
  animation-delay: 0.2s;
}
.logo:hover .logo-letter-6 {
  animation-delay: 0.25s;
}
.logo:hover .logo-letter-7 {
  animation-delay: 0.25s;
}
.logo:hover .logo-letter-8 {
  animation-delay: 0.3s;
}
.logo:hover .logo-letter-9 {
  animation-delay: 0.35s;
}
.logo:hover .logo-letter-10 {
  animation-delay: 0.4s;
}
.logo:hover .logo-letter-11 {
  animation-delay: 0.45s;
}